{% extends "/auth/layout-login-form.html" %}

{% block title %}Register{% endblock %}

{% block head %}
<link href="/static/css/progress.css" rel="stylesheet">
<style>
.input-b {width: 49%;}
.w-49 {width: 49%;}

</style>
<script src="/static/js/steps.js"></script>
{% endblock %}

{% block img %}
<img src="/static/assets/img/undraw_cooking_p7m1.svg" alt="cooking image">
{% endblock %}

{% block form %}
<div class="form">
    <form method="post" action="/register/restaurant" >
        <div class="form-header">

            <div class="title">
                <h1>Register</h1>
            </div>
            <div class="login-button">
                <a href="/login/restaurant">Login</a>
            </div>
        </div>
        <div class="step-forms">
            <section class="step-wizard">
                <ul class="step-wizard-list">
                    <li class="step-wizard-item current-item">
                        <span class="progress-count">1</span>
                        <span class="progress-label">Restaurant info</span>
                    </li>
                    <li class="step-wizard-item">
                        <span class="progress-count">2</span>
                        <span class="progress-label">Opening Hours</span>
                    </li>
                    <li class="step-wizard-item">
                        <span class="progress-count">3</span>
                        <span class="progress-label">Login Info</span>
                    </li>
                    <li class="step-wizard-item">
                        <span class="progress-count">4</span>
                        <span class="progress-label">Agree Terms</span>
                    </li>
                </ul>
            </section>

            <div id="firstStep">
                <div class="input-g">
                    <div class="input-b w-100">
                        <label for="name" class="">Restaurant name: </label>
                        <input id="name" name="name" class="std-input required" type="text" placeholder="Type the name of your restaurant" required autofocus>
                    </div>

                    <div class="input-b">
                        <label for="address" class="">Address: </label>
                        <input id="address" name="address" class="required" type="text" placeholder="Type the address of your restaurant" required>
                    </div>

                    <div class="input-b">
                        <label for="color" class="">Color theme: </label>
                        <input id="color" name="color" class="required" type="color" required>
                    </div>

                    <div class="input-b">
                        <label for="number" class="">Phone number: </label>
                        <input id="number" name="phone" class="required" type="text" placeholder="Type the phone number of restaurant" required>
                    </div>

                    <div class="input-b">
                        <label for="url" class="">URL: </label>
                        <input id="url" name="url" class="required" type="text" placeholder="URL (e.g., myrestaurant)" required>
                    </div>

                </div>
                <button type="button" class="button button-sm" onclick="goPage(2)">Next</button>
            </div>
            <div id="secondStep" style="display: none;">
                <div class="input-t-g">
                    <div class="time-row mb-2">
                        <div class="form-check form-switch">
                            <input class="form-check-input mr-1vw" type="checkbox" id="everyday" name="everyday" checked>
                            <label class="form-check-label mt-1 mb-2" for="everyday">Same everyday</label>
                        </div>
                        <div class="input-t d-flex" id="everyday-input">
                            <input class="w-100 time" type="text" name="open_everyday" placeholder="Opening Time">
                            <input class="w-100 time" type="text" name="close_everyday" placeholder="Closing Time">
                        </div>
                    </div>
                    <div id="weekdays">
                    <div class="time-row d-flex align-items-center justify-content-between mb-2">
                        <div class="form-check form-switch day-container">
                            <input class="form-check-input mr-1vw" type="checkbox" id="monday" name="monday">
                            <label class="form-check-label mt-1" for="monday">Mon</label>
                        </div>
                        <div class="input-t d-flex">
                            <input class="w-100 time" type="text" name="open_monday" placeholder="Opening Time">
                            <input class="w-100 time" type="text" name="close_monday" placeholder="Closing Time">
                        </div>
                    </div>
                    <div class="time-row d-flex align-items-center mb-2">
                        <div class="form-check form-switch day-container">
                            <input class="form-check-input mr-1vw" type="checkbox" id="tuesday" name="tuesday">
                            <label class="form-check-label mt-1" for="tuesday">Tue</label>
                        </div>
                        <div class="input-t d-flex">
                            <input class="w-100 time" type="text" name="open_tuesday" placeholder="Opening Time">
                            <input class="w-100 time" type="text" name="close_tuesday" placeholder="Closing Time">
                        </div>
                    </div>
                    <div class="time-row d-flex align-items-center mb-2">
                        <div class="form-check form-switch day-container">
                            <input class="form-check-input mr-1vw" type="checkbox" id="wednesday" name="wednesday">
                            <label class="form-check-label mt-1" for="wednesday">Wed</label>
                        </div>
                        <div class="input-t d-flex">
                            <input class="w-100 time" type="text" name="open_wednesday" placeholder="Opening Time">
                            <input class="w-100 time" type="text" name="close_wednesday" placeholder="Closing Time">
                        </div>
                    </div>
                    <div class="time-row d-flex align-items-center mb-2">
                        <div class="form-check form-switch day-container">
                            <input class="form-check-input mr-1vw" type="checkbox" id="thursday" name="thursday">
                            <label class="form-check-label mt-1" for="thursday">Thu</label>
                        </div>
                        <div class="input-t d-flex">
                            <input class="w-100 time" type="text" name="open_thursday" placeholder="Opening Time">
                            <input class="w-100 time" type="text" name="close_thursday" placeholder="Closing Time">
                        </div>
                    </div>
                    <div class="time-row d-flex align-items-center mb-2">
                        <div class="form-check form-switch day-container">
                            <input class="form-check-input mr-1vw" type="checkbox" id="friday" name="friday">
                            <label class="form-check-label mt-1" for="friday">Fri</label>
                        </div>
                        <div class="input-t d-flex">
                            <input class="w-100 time" type="text" name="open_friday" placeholder="Opening Time">
                            <input class="w-100 time" type="text" name="close_friday" placeholder="Closing Time">
                        </div>
                    </div>
                    <div class="time-row d-flex align-items-center mb-2">
                        <div class="form-check form-switch day-container">
                            <input class="form-check-input mr-1vw" type="checkbox" id="saturday" name="saturday">
                            <label class="form-check-label mt-1" for="saturday">Sat</label>
                        </div>
                        <div class="input-t d-flex">
                            <input class="w-100 time" type="text" name="open_saturday" placeholder="Opening Time">
                            <input class="w-100 time" type="text" name="close_saturday" placeholder="Closing Time">
                        </div>
                    </div>
                    <div class="time-row d-flex align-items-center mb-2">
                        <div class="form-check form-switch day-container">
                            <input class="form-check-input mr-1vw" type="checkbox" id="sunday" name="sunday">
                            <label class="form-check-label mt-1" for="sunday">Sun</label>
                        </div>
                        <div class="input-t d-flex">
                            <input class="w-100 time" type="text" name="open_sunday" placeholder="Opening Time">
                            <input class="w-100 time" type="text" name="close_sunday" placeholder="Closing Time">
                        </div>
                    </div>
                    </div>
                </div>
                <button type="button" class="button button-sm w-49" onclick="goPage(1)">Back</button>
                <button type="button" class="button button-sm w-49" onclick="goPage(3)">Next</button>
            </div>
            <div id="thirdStep" style="display: none;">
                <div class="input-g">
                    <div class="input-b w-100">
                        <label for="username" class="">Username: </label>
                        <input id="username" name="username" class="required" type="text" placeholder="Type your username" required>
                    </div>

                    <div class="input-b">
                        <label for="password" class="">Password: </label>
                        <input id="password" name="password" class="required" type="password" placeholder="Type your password" required>
                    </div>

                    <div class="input-b">
                        <label for="confirm" class="">Confirm password: </label>
                        <input id="confirm" name="confirm" class="required" type="password" placeholder="Confirm your password" required>
                    </div>
                </div>
                <button type="button" class="button button-sm w-49" onclick="goPage(2)">Back</button>
                <button type="button" class="button button-sm w-49" onclick="goPage(4)">Next</button>
            </div>
            <div id="fourthStep" style="display: none;">
                <div class="input-t-g t-justify">
                    <h6 class="text-center mx-auto"> 
                        Terms of Use:
                    </h6>
                    <p> 
                    By using this system, the user agrees to the terms and conditions set forth herein. This is a college project for educational purposes and is not intended to be a commercial product. The system is provided "as is," without warranties of any kind, express or implied.
                    </p> 

                    <p> 
                    1. Data Collection:
                    The user understands and agrees that, for the proper functioning of the system, some personal data may be collected. This information will be used solely for academic purposes and will not be shared with third parties without the user's express consent.
                    </p> 

                    <p> 
                    2. Liability:
                    The developer of this system is not liable for any damages, losses, or issues arising from the use of the system. The user agrees to use the system at their own risk.
                    </p> 

                    <p> 
                    3. Proper Use:
                    The user agrees to use the system solely for academic purposes and not for any commercial or illegal purposes. Any misuse of the system is strictly prohibited.
                    </p> 

                    <p> 
                    4. Privacy and Security:
                    The developer will make reasonable efforts to protect the privacy and security of user data. However, due to the nature of the project and the academic environment, we cannot guarantee the total security of the data.
                    </p> 

                    <p> 
                    5. Termination of Access:
                    The developer reserves the right to terminate the user's access to the system at any time without prior notice if abuses or violations of the terms of use are identified.
                    </p> 

                    <p> 
                    6. Intellectual Property:
                    The user acknowledges that the system is an academic creation and agrees to respect all copyrights and intellectual property rights related to the project.
                    </p> 

                    <p> 
                    7. Modifications to the Terms:
                    The developer reserves the right to change these terms of use at any time with prior notice to the user or by updating this system.
                    </p> 

                    <p> 
                    By clicking the acceptance button or continuing to use the system, the user agrees to be legally bound by these terms of use.
                    </p>
                    <div>
                        <input class="form-check-input" id="agree" name="agree" type="checkbox" required>
                        <label for="agree" class="form-check-label">I Agree Terms</label>
                    </div>

                </div>
                <button type="button" class="button button-sm w-49" onclick="goPage(3)">Back</button>
                <button class="button button-sm w-49" type="submit">Register</button>
            </div>
        </div>
    </form>
<script src="/static/js/weekdays-hide.js"></script>
<script src="/static/js/open-hour-format.js"></script>
{% endblock %}
