<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

        <!-- https://fonts.google.com/icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/spaghetti/ -->
        <link href="/static/assets/ico/favicon.ico" rel="icon">
        <link href="/static/css/admin/add.css" rel="stylesheet">

        <!--
        <link href="/static/css/styles.css" rel="stylesheet">
        <link href="/static/css/register.css" rel="stylesheet">
        <link href="/static/css/admin.css" rel="stylesheet">
        -->
        <link href="/static/css/nav.css" rel="stylesheet">

        <title>AppetiEats: {% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}


    </head>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <header>
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} mb-0 text-center" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </header>
    {% endif %}
    {% endwith %}

    <body>
        <!--
            <nav class="navbar navbar-expand-sm navbar-light">
            <div class="container-fluid">
            <a class="navbar-brand m-0" href="/">AppetiEats</a>
            </div>
            </nav>
        -->

        <main>
            <div class="main-box">
                <div class="main-content">
                    {% block main %}{% endblock %}
                </div>
            </div>
        </main>

        <nav class="nav">
            <a href="/admin/dashboard" class="nav-link {% block dashboard %}{% endblock %}">
                <span class="material-icons nav-icon">dashboard</span>
                <span class="nav-text">Dashboard</span>
            </a>
            <a href="/admin/settings/edit-menu" class="nav-link {% block edit %}{% endblock %}">
                <span class="material-icons nav-icon">restaurant_menu</span>
                <span class="nav-text">Edit Menu</span>
            </a>
            <a href="/admin/settings" class="nav-link {% block settings %}{% endblock %}">
                <span class="material-icons nav-icon">settings</span>
                <span class="nav-text">Settings</span>
            </a>
        </nav>
        <script src="/static/js/nav-click.js"></script>

    </body>

</html>
