{% extends "admin/admin.html" %}

{% block title %}Settings{% endblock %}

{% block main %}
<div class="form-container mx-auto text-center">
    <h1 class="mt-5 mb-3">Settings</h1>
    <div class="list-group">
        <a href="/admin/settings/add" class="list-group-item list-group-item-action d-flex align-items-start justify-content-start">
            <span class="material-icons nav-icons mx-1">add_circle</span>
            <span class="flex-grow-1 text-start">
                Add product
            </span>
            <span class="material-icons nav-icons">chevron_right</span>
        </a>
        <a href="/admin/settings/manage-categories" class="list-group-item list-group-item-action d-flex align-items-start justify-content-start">
            <span class="material-icons nav-icons mx-1">build</span>
            <span class="flex-grow-1 text-start">
                Manage categories
            </span>
            <span class="material-icons nav-icons">chevron_right</span>
        </a>
        <a href="/admin/settings/edit-menu" class="list-group-item list-group-item-action d-flex align-items-start justify-content-start">
            <span class="material-icons nav-icons mx-1">edit</span>
            <span class="flex-grow-1 text-start">
                Edit menu
            </span>
            <span class="material-icons nav-icons">chevron_right</span>
        </a>
        <a href="/admin/settings/qr-code" class="list-group-item list-group-item-action d-flex align-items-start justify-content-start">
            <span class="material-icons nav-icons mx-1">qr_code_2</span>
            <span class="flex-grow-1 text-start">
                QR code generator
            </span>
            <span class="material-icons nav-icons">chevron_right</span>
        </a>
        <a href="/admin/settings/edit-restaurant-info" class="list-group-item list-group-item-action d-flex align-items-start justify-content-start">
            <span class="material-icons nav-icons mx-1">manage_accounts</span>
            <span class="flex-grow-1 text-start">
                Edit restaurant info
            </span>
            <span class="material-icons nav-icons">chevron_right</span>
        </a>
        <a href="/admin/settings/change-password" class="list-group-item list-group-item-action d-flex align-items-start justify-content-start">
            <span class="material-icons nav-icons mx-1">lock_reset</span>
            <span class="flex-grow-1 text-start">
                Change password
            </span>
            <span class="material-icons nav-icons">chevron_right</span>
        </a>
        <a href="/logout" class="list-group-item list-group-item-action d-flex align-items-start justify-content-start">
            <span class="material-icons nav-icons mx-1">logout</span>
            <span class="flex-grow-1 text-start">
                Logout
            </span>
        </a>
    </div>
</div>
{% endblock %}

{% block settings %}nav-link-active{% endblock %}
