:root {
    --main-red: #ff0000;
    --main-white: #ffffff;
    --main-dark-red: #cc0000;
}
.container-fluid {
    padding: 0 5%;
}

.button {
    background-color: var(--main-red);
    font-size: 1rem;
    color: var(--main-white) !important;
    border-radius: 10px;
    border-color: var(--main-red);
    transition: all 0.3s;
    outline: none;
}

.button:hover {
    color: var(--main-white);
    background-color: var(--main-red);
    border-color: var(--main-dark-red);
}

.button:focus,
.button.focus {
    color: var(--main-white);
    background-color: var(--main-dark-red);
    border-color: var(--main-dark-red);
    box-shadow: 0 0 0 0.2rem rgba(204, 0, 0, 0.5);
}

.button-s {
    background-color: var(--main-white);
    color: var(--main-red) !important;
    border-radius: 10px;
    border-color: var(--main-red);
    transition: all 0.3s;
    border: 1px solid;
    font-size: 1rem;
    outline: none;
}

.button-s:hover {
    color: var(--main-white);
    background-color: rgba(255, 0, 0, 0.1);
    /*border-color: rgba(255, 0, 0, 0.1);*/
}

.button-s:focus,
.button-s.focus {
    color: var(--main-white);
    background-color: rgba(255, 0, 0, 0.1);
    background-color: var(--main-white);
    border-color: var(--main-red);
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.3);
}

.navbar-red {
    background-color: #ffffff;
    color: var(--main-red) !important;
    border: none;
    text-decoration: none;
}

.navbar-brand {
    color: var(--main-red) !important;
}

.home {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.logo {
    font-weight: 500;
    color: var(--main-red);
}

.phone-img {
    max-height: 500px;
    max-width: 95%;
}

.home-text {
    max-width: 37rem;
}

.home-text .text-h1 {
    font-size: 4rem;
    margin: 0 auto;
}

.home-text .text-p {
    font-size: 1.5rem;
    margin: 0 auto;

}

.nav-link {
    display: inline;
}

.features {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.feature {
    width: 29%;
}

.feature-title {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fa0000;
}

.feature-icon {
    font-size: 2.5rem;
}

.feature-body p {
    color: #f10000 !important;
}

.session {
    padding: 0px 10%;
}

.about {
    color: var(--main-red);
}

.faq {
    border: 1px solid rgba(255, 0, 0, .250);
    color: var(--main-red);
}

.faq:hover {
    color: var(--main-red);
    background-color: rgba(255, 0, 0, .05);
}

.faq:active {
    color: var(--main-red);
    background-color: rgba(255, 0, 0, .05);
}

@media (max-width:768px) {
    .home {
        padding: 30px 2%;
        flex-direction: column;
        text-align: center;
        height: 100%;
        gap: 1rem;
    }

    .home-text {
        max-width: 25rem;
    }

    .home-text .text-h1 {
        font-size: 2rem;
    }

    .home-text .text-p {
        font-size: 15px;
        margin: 0 auto;
    }

    .button-s {
        font-size: 1rem;
    }

    .button {
        font-size: 1rem;
    }

    .login {
        padding: 0.25rem 0.25rem !important;
        margin-left: -0.25rem;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feature {
        text-align: justify;
        max-width: 95%;
        width: 95%;
    }
}
