.main_content {
    padding-bottom: 0px;
}
.kanban-container {
    height: 85vh;
    width: 100%;
    margin-top: 3.5vh;
    border-radius: 20px;
}

.kanban-head {
    display: flex;
    justify-content: space-between;
    height: 5%;
}

.kanban-body {
    display: flex;
    justify-content: space-between;
    height: 95%;
}

.kanban-page {
    width: 33.33%;
    border-top: none;
    overflow-y: auto;
    
}

.top-button {
    width: 33.33%;
    height: 100%;
    background-color: white;
    border: solid 1px #f00;
    border-bottom: solid 3px #cc0000;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
    font-weight: 500;
}

.top-button:hover {
    transition: ease-in-out 0.3s;
    background-color: #cc0000;
    color: white;
}

.top-button:active {
    color: white;
    background-color: #cc0000;
    transform: scale(0.95);
    transition: all 0.3s;
}

.top-button.active {
    color: #ff0000;
    background-color: white;
    border: solid 1px #f00;
    border-bottom: 0px !important;
}

.top-button-left {
    border-radius: 20px 0 0 0;
}

.top-button-right {
    border-radius: 0 20px 0 0;
}

@media screen and (max-width: 768px) {
    .kanban-page {
        width: 100%;
    }
}
