.main-content {
    padding-bottom: 0px;
}
.kanban-container {
    height: 85vh;
    width: 100%;
    margin-top: 3.5vh;
    border-radius: 20px;
}

.kanban-head {
    display: flex;
    justify-content: space-between;
    height: 5%;
}

.kanban-body {
    display: flex;
    justify-content: space-between;
    height: 95%;
}

.kanban-page {
    width: 33.33%;
    border-top: none;
    overflow-y: auto;
    margin: 1px;
    scrollbar-width: none; /* Google Chrome */
    -ms-overflow-style: none; /* Microsoft Edge */
    scrollbar-color: transparent transparent; /* Firefox */
}

.top-button {
    width: 33.33%;
    height: 100%;
    background-color: white;
    border: solid 1px #f00;
    border-bottom: solid 3px #cc0000;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
    font-weight: 500;
}

.top-button:hover {
    transition: ease-in-out 0.3s;
    background-color: #cc0000;
    color: white;
}


.top-button-left {
    border-radius: 20px 0 0 0;
}

.top-button-right {
    border-radius: 0 20px 0 0;
}

.bottom-button {
    background-color: #ea0000;
    border-radius: 0 0 10px 10px;
}

.bottom-button.left {
    border-radius: 0 0 0 10px;
    width: 100%;
    height: 100%;
}

.bottom-button.right {
    border-radius: 0 0 10px 0;
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 768px) {

    .kanban-page.active {
        width: 100%;
        display: block;
    }

    .kanban-page {
        display: none;
    }

    .top-button:active {
        color: white;
        background-color: #cc0000;
        transform: scale(0.95);
        transition: all 0.3s;
    }

    .top-button.active {
        color: #ff0000;
        background-color: white;
        border: solid 1px #f00;
        border-bottom: 0px !important;
    }
}
