{% extends "admin/admin.html" %}

{% block head %}
<link href="/static/css/admin/dashboard.css" rel="stylesheet">
<link href="/static/css/menu/menu.css" rel="stylesheet">
<link href="/static/css/customer/orders.css" rel="stylesheet">
{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block main %}
<div class="kanban-container shadow mb-5">
    <div class="kanban-head">
        <button name="processing" class="top-button top-button-left active">Processing</button>
        <button name="cooking" class="top-button">Cooking</button>
        <button name="done" class="top-button top-button-right">Done</button>
    </div>
    <div class="kanban-body" id="kanban-body">
        <div class="kanban-page" id="processing"> </div>

        <div class="kanban-page" id="cooking"> </div>

        <div class="kanban-page" id="done"> </div>

    </div>
<script src="/static/js/admin/dashboard.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

<script src="/static/js/admin/socketio.js"></script>
<script src="/static/js/admin/dashboard-build.js"></script>
{% endblock %}

{% block dashboard %}nav-link-active{% endblock %}
