.welcome-img {
    width: 100%;
    max-width: 450px;
}

.badge-open {
    font-size: .9rem;
}

.title {
    display: flex;
}

.badge-success {
    background-color: #28a745;
}

.badge-danger {
    background-color: #dc3545;
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.open-sign {
    margin-left: 10px;
}

.modal-content {
    border-radius: 10px;
}

@media screen and (max-width: 576px) {
    .action-buttons{
        display: block !important;
    }
}
