{% extends "admin/admin.html" %}

{% block title %}Manage categories{% endblock %}
{% block head %}
{% endblock %}

{% block main %}

<div>
    <div class="form-header">
        <div class="title mt-5 text-center">
            <h1>Manage categories</h1>
        </div>
    </div>
    <form action="/admin/settings/manage-categories" method="post">
        <div class="row">
            <div class="col-md-6 std-input-box">
                <label for="category">Category name: </label>
                <input autocomplete="off" id="category" name="category" class="std-input required" type="text" placeholder="e.g., Hamburger, Pizza..." required>
            </div>
            <div class="col-md-6 std-input-box d-flex align-items-center">
                <button class="col-md-6 std-button mt-3" type="submit">Add category</button>
            </div>
        </div>
    </form>

    <table class="mt-4">
        <thead>
            <tr>
                <th>Category name</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.category_name }}</td>
                <td>
                    <form action="/admin/settings/manage-categories/delete" method="post">
                        <input name="id" type="hidden" value="{{ category.id }}">
                        <input type="submit" class="delete" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block edit %}{% endblock %}
