{% extends "menu/menu-layout.html" %}

{% block title %}{{ restaurant_info.name }}{% endblock %}
{% block head %}
<link href="/static/css/menu/menu.css" rel="stylesheet">
<link href="/static/css/menu/menu-landing.css" rel="stylesheet">

{% endblock %}

{% block main %}
<div class="top-app mt-3 mb-3">
    <div class="form-header">
        <div class="title">
            <h1 class="title-open mb-0">{{restaurant_info.name}}
            </h1>
        </div>
        <div class="open-sign">
            <span class="badge badge-pill badge-success badge-open">is Open</span> 
        </div>
    </div>
</div>

<div class="d-flex flex-column justify-content-center">
    <div class="d-flex justify-content-center">
        <img src="/static/assets/img/undraw_welcome_cats_thqn.svg" class="mt-5 welcome-img" alt="welcome image">
    </div>
    <!--
        <div>
        <span class="badge badge-success">Open</span>
        </div>
    -->

    <h3 class="mt-3">{{restaurant_info.name}} is open right now and waiting your order!</h3>
    <div class="action-buttons d-flex w-100 gap-2">
        <div class="w-100">
            <button class="std-button std-button-secondary mt-3" data-bs-toggle="modal" data-bs-target="#time-modal">View opening hours</button>
        </div>

        <a href="/{{restaurant_info.url}}" class="w-100">
            <button class="std-button mt-3">Explore menu</button>
        </a>
    </div>
</div>

<div id="time-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Opening Hours</h5>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <div id="opening-container" style="width: 80%;">
                        <div class="d-flex justify-content-between mb-1">
                            <h6>Monday</h6>
                            <div class="d-flex w-50 justify-content-around">
                                <h6>10:00</h6>
                                <h6>-</h6>
                                <h6>12:00</h6>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mb-1">
                            <h6>Tuesday</h6>
                            <div class="d-flex w-50 justify-content-around">
                                <h6></h6>
                                <h6>Closed</h6>
                                <h6></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="action-buttons d-flex w-100 gap-2">
                    <div class="w-100">
                        <button class="std-button std-button-secondary h-75 mt-3" data-bs-toggle="modal" data-bs-target="#time-modal">Close</button>
                    </div>

                    <a href="/{{restaurant_info.url}}" class="w-100">
                        <button class="std-button mt-3 h-75">Explore menu</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="/static/js/menu/landing.js"></script>

{% endblock %}
