{% extends "menu/menu-layout.html" %}

{% block title %}{{ restaurant_info.name }}{% endblock %}
{% block head %}
<link href="/static/css/menu/menu.css" rel="stylesheet">

{% endblock %}

{% block main %}
<div class="menu-cart-container">
    <div class="menu active" id="menu">
        <div class="mx-auto search">
            <div class="input-group mb-2 mt-4">
                <span class="input-group-text bg-white border_right_none border_left_round">
                    <span class="material-icons nav_icon">search</span>
                </span>
                <input type="text" class="form-control border_left_none border_right_none" placeholder="Search" id="search">
                <span class="input-group-text bg-white border_left_none border_right_round">
                </span>
            </div>
        </div>
    </div>

    <div class="cart" id="cart">
        <div class="form-header">
            <div class="title mt-5 text-center">
                <h1>Cart</h1>
            </div>
        </div>
        <ul class="list-group" id="cart-list">
        </ul>
        <div id="total" class="total mt-3 text-end"></div>
        <button class="mt-1 std-button" onclick="">Order</button>
    </div>
</div>

<script src="/static/js/menu/shopping.js"></script>
<script src="/static/js/menu/toggle-overlay.js"></script>
<script src="/static/js/menu/toggle-menu-cart.js"></script>
{% endblock %}

{% block edit %}{% endblock %}
