{% extends "menu/menu-layout.html" %}

{% block title %}{{ restaurant_info.name }}{% endblock %}
{% block head %}
<link href="/static/css/menu/menu.css" rel="stylesheet">

{% endblock %}

{% block main %}
<div class="menu-cart-container">
    <div name="page" class="menu active" id="menu">
        <div class="top-app mt-3 mb-3">
            <div class="form-header">
                <div class="title">
                    <h1 class="mb-0"> {{restaurant_info.name}} </h1>
                </div>
            </div>
            <a class="mb-0" href="/customer">
                <span class="material-icons nav_icon">account_circle</span>
            </a>
            <a class="mb-0" id="teste" href="#menu?category_id=2" >
                <span class="material-icons nav_icon">account_circle</span>
            </a >
        </div>
        <div class="mx-auto search">
            <div class="input-group mb-4 mt-2">
                <span class="input-group-text bg-white border-right-none border-left-round">
                    <span class="material-icons nav_icon">search</span>
                </span>
                <input type="text" autocomplete="off" class="form-control border-left-none border-right-none" placeholder="Search" id="search">
                <span class="input-group-text bg-white border-left-none border-right-round">
                </span>
            </div>
        </div>

        <div id="products-menu">
        </div>

        <div class="product-overlay" id="category-overlay">
            <div class="back-button d-flex align-items-center justify-content-start" onclick="history.back()">
                <span class="material-icons nav_icons">chevron_left</span>
                <span class="flex-grow-1 text-start">Back</span>
            </div>
            <div id="category-details" class="main-overlay">
            </div>
        </div>

        <div class="product-overlay" id="product-overlay">
            <div class="back-button d-flex align-items-center justify-content-start" onclick="history.back()">
                <span class="material-icons nav_icons">chevron_left</span>
                <span class="flex-grow-1 text-start">Back</span>
            </div>
            <div class="main-overlay d-flex m-auto justify-content-center">
                <div id="product-details"></div>
            </div>
        </div>

    </div>

    <div name="page" class="cart" id="cart">
        <div class="form-header">
            <div class="title mt-3 text-center">
                <h1>Cart</h1>
            </div>
        </div>
        <ul class="list-group" id="cart-list">
        </ul>
        <div id="total" class="total mt-3 text-end"></div>
        <form id="cart-form" action="" method="post">
            <input name="cart-data" id="cart-data" type="hidden" value="">
            <input type="submit" class="mt-1 std-button" value="Order">
        </form>

    </div>
</div>

<script src="/static/js/menu/shopping.js"></script>
<script src="/static/js/menu/toggle-overlay.js"></script>
{% endblock %}

{% block edit %}{% endblock %}
