main {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: #ff0000;*/
}
.container-c {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    border-radius: 30px;
}
.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    background-color: #FF4D4D4a;
    background-color: #FF000011;
    padding: 1rem;
    border-radius: 30px;
}
.form-image img {
    width: 31rem;
}
.form {
    border-radius: 30px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}
.form-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}
.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #ff0000;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
.login-button {
    display: flex;
    align-items: center;
}
.login-button a {
    border: none;
    background-color: #ff0000;
    padding: 0.4rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.login-button a:hover {
    color: #fff;
    background-color: #cc0000;
    border-color: #cc0000;
}
.login-button a:focus,
.login-button a.focus {
    color: #fff;
    background-color: #cc0000;
    border-color: #cc0000;
    box-shadow: 0 0 0 0.2rem rgba(204, 0, 0, 0.5);
    outline: none;
    transition: ease 0.3s;
}
.input-g {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    min-width: 450px;
    max-height: 14rem;
    overflow-y: scroll;
}
.input-b {
    display: flex;
    flex-direction: column;
    padding: 0.1rem;
    width: 100%;
}
.input-b input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: 1px solid #eeeeee65;
    outline: 1px solid #eeeeee65;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}
.input-b input:hover {
    background-color: #eeeeee65;
    transition: ease 0.3s;
}
.input-b input:focus-visible {
    outline: 1px solid #ff0000;
    transition: ease 0.3s;
}
.input-b input::placeholder {
    color: #000000be;
}
.input-b input[type="color"] {
    width: 100%;
    padding: 1.4rem 1.2rem;
    background-color: #fff;
}
.input-b input[type="color"]:hover {
    background-color: #eeeeee65;
    transition: ease 0.3s;
}
.input-t-g {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%;
    min-width: 450px;
    max-height: 218px;
    height: 218px;
    overflow-y: scroll;
}
.input-t {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.input-t input {
    flex: 1;
    margin: 0 0.3rem;
    padding: 8px 10px;
    border: 1px solid #eeeeee65;
    outline: 1px solid #eeeeee65;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001f;
    font-size: 0.8rem;
}
.mr-1vw {
    margin-right: 0.8vw;
}
.time-row {
    width: 100%;
}
.form-switch .form-check-input {
    height: 24px;
    width: 40px;
}
.form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}
.form-switch .form-check-input:checked {
    background-color: #ff0000;
    border-color: #ff0000;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}
.form-check-label {
    font-size: 1.1rem;
}
.day-container {
    display: flex;
    align-items: center;
    width: 100px;
}
.t-justify {
    text-align: justify;
    text-justify: inter-word;
}
.hide-important {
    display: none !important;
}
.form-check-input:checked {
    background-color: red;
    border-color: red;
}
.form-check-input:focus {
    box-shadow: none;
    border-color: red;
}

.button-sm {
    width: 100%;
    border: none;
    background-color: #ff0000;
    padding: 0.62rem;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}
.button-sm:hover {
    background-color: #cc0000;
    color: #fff;
}

@media screen and (max-width: 1230px) {

    .form-image {
        display: none;
    }
    /*
    .container-c {
        width: 50%;
    }
    */
    .form {
        width: 100%;
    }
    .form form{
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container-c {
        width: 90%;
        height: auto;
    }
    .input-b {
        width: 100% !important;
    }
    .form form{
        width: 100%;
    }
    .input-g {
        flex-direction: column;
        z-index: 5;
        padding-right: 0rem;
        max-height: 300px;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .input-t-g {
        min-width: 10px;
        max-height: 300px;
        height: 300px;
    }
}
@media screen and (max-width: 600px) {
    .input-g {
        min-width: 10px;
    }
