{% extends "customer/customer-settings-layout.html" %}

{% block title %}Change password{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.3/cropper.css">
{% endblock %}

{% block main %}

<form id="product-form" method="post" action="/customer/change-password" enctype="multipart/form-data">
    <div class="form-header">
        <div class="title mt-5 text-center">
            <h1>Change password</h1>
        </div>
    </div>

    <div class="input-box">
        <div class="row">
            <div class="std-input-box">
                <label for="current">Your password: </label>
                <input id="current" name="current" class="std-input required" type="password" required>
            </div>
        </div>
        <div class="row">
            <div class="std-input-box">
                <label for="new">New password: </label>
                <input id="new" name="new" class="std-input required" type="password" required>
            </div>
        </div>
        <div class="row">
            <div class="std-input-box">
                <label for="confirm">Confirm password: </label>
                <input id="confirm" name="confirm" class="std-input required" type="password" required>
            </div>
        </div>

        <button class="std-button mt-3" type="submit">Change password</button>
    </div>
</form>

{% endblock %}

{% block edit %}{% endblock %}
