{% extends "customer/customer-layout.html" %}

{% block title %}Orders{% endblock %}
{% block head %}
<link href="/static/css/menu/menu.css" rel="stylesheet">
<link href="/static/css/customer/orders.css" rel="stylesheet">

{% endblock %}

{% block main %}
<div class="menu-cart-container">
    <div name="page" class="menu active" id="order">
        <div class="form-header">
            <div class="title mt-3 text-center">
                <h1>Orders</h1>
            </div>
        </div>
        <div id="orders">
        </div>
    </div>

    <div name="page" class="cart" id="settings">
        <div class="form-header">
            <div class="title mt-5 text-center">
                <h1>Settings</h1>
            </div>
        </div>
        <div class="form-container mx-auto text-center">
            <div class="list-group">
                <a href="/customer/edit-customer-info" class="list-group-item list-group-item-action d-flex align-items-start justify-content-start">
                    <span class="material-icons nav_icons mx-1">manage_accounts</span>
                    <span class="flex-grow-1 text-start">
                        Edit user infos
                    </span>
                    <span class="material-icons nav_icons">chevron_right</span>
                </a>
                <a href="/customer/change-password" class="list-group-item list-group-item-action d-flex align-items-start justify-content-start">
                    <span class="material-icons nav_icons mx-1">lock_reset</span>
                    <span class="flex-grow-1 text-start">
                        Change password
                    </span>
                    <span class="material-icons nav_icons">chevron_right</span>
                </a>
                <a href="/logout" class="list-group-item list-group-item-action d-flex align-items-start justify-content-start">
                    <span class="material-icons nav_icons mx-1">logout</span>
                    <span class="flex-grow-1 text-start">
                        Logout
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="/static/js/customer/socketio.js"></script>
<script src="/static/js/menu/toggle-overlay.js"></script>
<script src="/static/js/customer/customer.js"></script>
{% endblock %}

{% block edit %}{% endblock %}
